.container{
    background-color:#f2f2f2;}

    
    .blanco{
        background-color:#f2f2f2;
        height: 60px;

    }

    .segunda,.tercera .padding{
        padding-top: 15px;
    }
    .tercera .tamano{
        height: 90px;
    }

